<footer class="text-center footer-style">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-col">
                <h2>Dirección</h2>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et inventore nesciunt neque quia necessitatibus nisi animi pariatur, perferendis ab, incidunt ratione impedit perspiciatis mollitia excepturi? Similique molestias rem magni distinctio. <br />
                    carrasco 400
                </p>
            </div>
            <div class="col-md-4 footer-col">
                <h2>Nuestras redes</h2>
                <ul class="list-inline">
                    <li>
                        <a  target="_blank" href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                    </li>
                    <li>
                        <a  target="_blank" href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                    </li>
                    <li>
                        <a  target="_blank" href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                    </li>
                    <li>
                        <a  target="_blank" href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                    </li>
                    <li>
                        <a  target="_blank" href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 footer-col">
                <h2>Trabajo FreeLancer</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam earum, ad tenetur quod dolorem neque accusamus eum eos possimus maxime obcaecati vitae repellendus. Aspernatur molestias est dolor eius perferendis voluptatibus.</p>
            </div>
        </div>
    </div>
  </footer>