<p>home works!</p>
<body class="body-style">
          <div class="container" >
              
          <div class="row">
        
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
     
         
   
          <div class="row border-4 " ><!--ancho borde de la fila-->
              <div class="col-4">
                <div class="card shadow  ">
                  <img class="img-fluid " src="assets/imagenes/retirar.png" class="rounded mx-auto d-block"/> 
                  <div class="row"><!-- Cree otra fila dentro de la columna para poner texto, seria anidación -->
                      <div class="card-body">
                        <h6 class="text-dark text-center ">Ingresar dinero</h6>
                      </div><!-- Alineación del texto -->
                    </div>
                  </div>    
              </div>
               
              <div class="col-4">
                <div class="card shadow">
                <img class="img-fluid " src="../../../assets/imagenes/compraventa.png" class="rounded mx-auto d-block">
                  <div class="row text-center">
                    <div class="card-body">
                    <h6 class="text-dark text-center">Retirar dinero</h6>
                  </div>
                  </div>
                </div>
                  
              </div>
   
              <div class="col-4">
                <div class="card shadow">
                  <img class="img-fluid" src="/dist/criptoapp/assets/imagenes/retirar.png" class="rounded mx-auto d-block">
                    <div class="row text-center">
                      <div class="card-body">
                        <h6 class="text-dark text-center">Transferir</h6>
                      </div>
                    </div> 
                  </div>
                </div>
              </div>
  
  
  </div>
                    
                
                    
                  <!--<img class="img-fluid" src="imagenes/cripto3.jpg" class="rounded mx-auto d-block">
                  <div class="row">
                      <div class="card-body ">
                        <h6 class="text-dark text-center">Transferir dinero</h6>
                      </div>-->
                    </div>
                     
              
          
          
           
             
      
      
  
       
  
