<!--<p>login works!</p>-->
<body class="bg-dark">
    <div class="container-fluid border border-dark text-center"> <!--al contenedor padre le puse clase border para despues poder centrar-->
        <div class="row">
            <div class="col-12"></div>
            <div class="col-lg-5"> 
                <div class="px-lg-5 pt-lg-4 pb-lg-3 p-4"><!--esto regula el logo-->
                   <img  src="/assets/imagenes/usuario.png">

                <!--</div><-->
                <!--<div class="px-lg-5 py-lg-4 p-4">-->
                    <h1 class="text-center">Bienvenido</h1>
                   
                    <form class="mb-5">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label ">email</label>
                            
                            <input type="email" class="form-control bg-dark-x" id="exampleFormControlInput1" 
                            aria-describedby="emailHelp">
                        </div>    
                        
                          <div class="mb-4">
                            <label for="exampleinputpassword1" class="form-label ">Contraseña</label>
                            <input type="password" class="form-control bg-dark-x" id="exampleinputpassword1">
                            <a href="#" id="emailHelp"class="form-text text-muted text-decoration-none">Has olvidado tu contraseña?</a>
                          </div> 
                                                   
                          <button type="submit" class="btn btn-primary w-100">Iniciar sesión</button> 
                          <br> <!--salto de linea-->
                          <p class="d-inline-block">¿Todavia no tienes una cuenta?</p>
                          <a href="#" class="text-decoration-none">Crea una ahora</a>
                    </form>
                    <!--<div class="col-4"></div><-->
                    

                    </div>
                    
                </div>
                
                   
                </div>
                
                  
                

            </div>
            
                
    
</body>
